body {
  background-color: #ccccff;
  padding: 0px;
  height: 100%;
}

* {
  transition: 0s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline:0px solid transparent;
  border:0px solid transparent;

}

#imagep {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#image {
  overflow: hidden;
  height: 95vmin;
  width: 95vmin;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;

}

#image button {
  margin: 0;
  width: calc(100% / 32);
  padding:0;
  padding-top: calc(100% / 32);
  background-color: #fff;
  border:0;
}

#colorselect {
  background-color: rgba(180, 180, 230, 0.6);
  z-index: 943;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 10px;
  height: auto;
  width: auto;
  max-height:85vh;
  padding-bottom: 3px;
  border: 2px solid black;
}

#colorselect button {
  height: 20px;
  width: 20px;
  margin:0;
  padding:0;
}

#colorselect #currentcolor {
  transition: .5s;
  display: block;
  border: 2px solid #000;
  margin: 3px;
  background-color: #000;
  height: 40px;
  width: 40px;
}

#blue {
  background-color: #00f;
}

#blue2 {
  background-color: #07f;
}

#yellow {
  background-color: #ff0;
}

#green {
  background-color: #0f0;
}

#green2 {
	background-color:#7a1;
}

#red {
  background-color: #f00;
}

#orange {
  background-color: #f70;
}

#pink {
	background-color:#f0f;
}

#white {
  background-color: #fff;
}

#black {
  background-color: #000;
}

#gray1 {
  background-color: #555;
}

#gray2 {
  background-color: #bbb;
}

#brown {
  background-color: #7c3e15;
}
