:root {
    --themecolor: #222;
    --font: sans-serif;
    --black: #000;
    --black2: #151515;
    --black3: #444;
    --black4: #555;
    --black5: #666;
    --hovercolor: #ffaa0077;
    --hovercolornontransparent: #ffaa00;
    --beige: #ddb;
    --beige2: #cca;
    --beige3: #bb7;
    --beige4: #fdfdfa;
    --altbarheight:22px;
    --altbarcolor: var(--themecolor);
}


body {
    background: var(--beige4);
    color: #000;
    margin: 0;
    padding: 0;
    font-family: var(--font);

}

* {
    color: #000;
    font-family: var(--font);
    outline: 0;
}

*:focus, *:active {
    outline:none !important;
}

input,
select,
button,
textarea {
    background: var(--beige4);
    color: #000;
}

.altbar {
    height:var(--altbarheight);
    width:100%;
    border-bottom:1px solid #555;
    background:var(--beige);
    position:sticky;
    display:block;
    top:0;
    box-sizing:border-box; 
}

.toolbar {
    border-bottom:1px solid #555;
    background:var(--beige2);
}

.toolbar2 {
    border-bottom:1px solid #555;
    background:var(--beige3);
}

.contextMenu {
    width:auto;
    background:var(--beige4);
    height:auto;
    position:absolute;
    display:inline-block;
    z-index:1000;
    outline:1px solid var(--themecolor);
    hr {
        margin:0;
        padding:0;
        border:none;
        border-bottom:1px solid var(--themecolor); 
    }
    a {
        display:block;
        padding:3px 10px;
        text-decoration:none;
        cursor:pointer;
        &:last-of-type {
            border-bottom:none;
        }
    }
}




@media (prefers-color-scheme: dark) {
    body {
        /* background: var(--black); */
        background: transparent;
        color: #fff;
    }

    * {
        color: #fff;
    }

    .altbar {
        border-top:1px solid transparent;
        background:var(--altbarcolor);
        border-bottom:none;
        transition:.1s;
        &:hover {
            border-top-color:var(--black2);
        }
    }

    input,
    select,
    button,
    textarea {
        color: #fff;
        background: var(--black2);
        border: 1px solid #444;
    }

    .contextMenu {
        background:var(--black2);
        a {
            color:#fff;
            &:last-of-type {
                border-bottom:none;
            }
        }
    }

    ::-webkit-scrollbar {
        background:var(--black);
        width:initial;
    }
    ::-webkit-scrollbar-thumb {
        background:var(--black3);
        border:1px solid var(--themecolor)
    }
    ::-webkit-scrollbar-corner {
        background:var(--black);
    }
}