:root {
  --themecolor: #940;
  --font: sans-serif;
  --black: #000;
  --black2: #151515;
  --black3: #444;
  --black4: #555;
  --black5: #666;
  --hovercolor: #ffaa0077;
  --hovercolornontransparent: #ffaa00;
  --beige: #ddb;
  --beige2: #cca;
  --beige3: #bb7;
  --beige4: #fdfdfa;
  --altbarheight: 22px;
  --altbarcolor: var(--themecolor);
  --border-radius: 2px;
  --font-size-base: 1em;
}

html {
  font-size: var(--font-size-base);
}

body {
  background: var(--beige4);
  color: #000;
  margin: 0;
  padding: 0;
  font-family: var(--font);
  accent-color: var(--themecolor);
  font-size: 1rem;
}

* {
  color: #000;
  font-family: var(--font);
}
*::-moz-selection {
  background-color: var(--hovercolor);
}
*::selection {
  background-color: var(--hovercolor);
}

body button:not([disabled]),
body input:not([disabled]),
body select:not([disabled]),
body .has_hover:not([disabled]),
body .contextMenu a:not([disabled]) {
  transition: background-color 0.1s, filter 0.1s;
}
body button:not([disabled]):hover, body button:not([disabled]):focus-visible,
body input:not([disabled]):hover,
body input:not([disabled]):focus-visible,
body select:not([disabled]):hover,
body select:not([disabled]):focus-visible,
body .has_hover:not([disabled]):hover,
body .has_hover:not([disabled]):focus-visible,
body .contextMenu a:not([disabled]):hover,
body .contextMenu a:not([disabled]):focus-visible {
  background-color: var(--hovercolor);
  filter: brightness(1.2);
}
body button:not([disabled]):hover:not(input), body button:not([disabled]):focus-visible:not(input),
body input:not([disabled]):hover:not(input),
body input:not([disabled]):focus-visible:not(input),
body select:not([disabled]):hover:not(input),
body select:not([disabled]):focus-visible:not(input),
body .has_hover:not([disabled]):hover:not(input),
body .has_hover:not([disabled]):focus-visible:not(input),
body .contextMenu a:not([disabled]):hover:not(input),
body .contextMenu a:not([disabled]):focus-visible:not(input) {
  cursor: pointer;
}
body .has_hover:not([disabled]) {
  transition: background-color 0.1s, filter 0.1s !important;
}
body .has_hover:not([disabled]):hover, body .has_hover:not([disabled]):focus-visible {
  background-color: var(--hovercolor) !important;
  filter: brightness(1.2) !important;
}

input,
select,
button,
textarea {
  background: var(--beige4);
  color: #000;
  font-size: 1em;
  border-radius: var(--border-radius);
}

button {
  line-height: 2;
}

.altbar {
  height: var(--altbarheight);
  width: 100%;
  border-bottom: 1px solid #555;
  background: var(--beige);
  position: sticky;
  display: block;
  top: 0;
  box-sizing: border-box;
}
.altbar button {
  line-height: revert;
}

.toolbar {
  border-bottom: 1px solid #555;
  background: var(--beige2);
}

.toolbar2 {
  border-bottom: 1px solid #555;
  background: var(--beige3);
}

.contextMenu {
  width: auto;
  background: rgba(255, 255, 255, 0.4666666667);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  height: auto;
  position: absolute;
  display: inline-block;
  z-index: 1000;
  padding: 0;
  border-radius: var(--border-radius);
  border: 1px solid var(--themecolor);
  box-sizing: border-box;
  min-width: 130px;
  min-height: 1rem;
}
.contextMenu hr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--themecolor);
}
.contextMenu a {
  display: block;
  padding: 3px 8px;
  text-decoration: none;
  cursor: pointer;
}
.contextMenu a:last-of-type {
  border-bottom: none;
}

*[disabled],
*[disabled=disabled] {
  filter: contrast(0.4) brightness(0.6) grayscale(0.1);
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: none;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: transparent;
    color: #fff;
  }
  * {
    color: #fff;
  }
  .altbar {
    background: var(--altbarcolor);
    border-bottom: none;
    transition: 0.1s;
  }
  input,
  select,
  button,
  textarea {
    color: #fff;
    background: var(--black2);
    border: 1px solid #444;
  }
  .contextMenu {
    background: rgba(0, 0, 0, 0.6666666667);
  }
  .contextMenu a {
    color: #fff;
  }
  .contextMenu a:last-of-type {
    border-bottom: none;
  }
  ::-webkit-scrollbar {
    background: var(--black);
    width: initial;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--black3);
    border: 1px solid var(--themecolor);
  }
  ::-webkit-scrollbar-corner {
    background: var(--black);
  }
}/*# sourceMappingURL=helper.css.map */