@import "helper.css";


body {
  margin: 0;
  background-color: #853;
  overflow: hidden !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: var(--font);
}

iframe {
  border: 1px solid var(--themecolor);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.speak {
  display: inline;
  border: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.autostart {
  display: none !important;
}

.noborder {
  border-radius: 0 !important;

  iframe {
    top: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
    border-radius: 0 !important;
  }

  .headbar,
  .resizers {
    display: none;
  }
}


#background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.program {
  position: absolute;
  display: none;
  min-width: 100px;
  min-height: 50px;
  background-color: transparent;
  border-radius: var(--border-radius);
  max-height: 90vh;
  max-width: 95vw;

  * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  iframe {
    position: absolute;
    border: 0;
    top: 30px;
    left: 0;
    height: calc(100% - 30px);
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid var(--themecolor);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}


.explorer_start,
.explorer_start iframe {
  background-color: transparent !important;
}

.program .headbar {
  position: relative;
  top: 0;
  background-color: var(--themecolor);
  height: 30px;
  width: 100%;
  padding-right: 2px;
  border: none;
  overflow: hidden;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.headbar {
  * {
    display: inline;
    transition: .5s;
  }

  .max,
  .close {
    height: 28px;
    width: 28px;
    top: -2px;
    border: 0;
    margin: 0;
    position: absolute;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .close {
    right: 0;
    background-color: #f00;
  }

  .max {
    background-color: var(--themecolor2);
    right: 28px;
  }
}

.box2 {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 400px;
  left: 400px;
}

.resizers {
  * {
    height: 10px;
    width: 10px;
    position: absolute;
    &:active {
      outline: 3px solid var(--themecolor);
      z-index: 9999;
      transition: 0s;
      cursor: se-resize;
    }
  }
}

.resizer2 {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
  z-index: 20;
}

.maximized {
  height: calc(100% - 35px);
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  border-radius: 0;


  iframe {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
  }

  .resizers {
    display: none;
  }

  .headbar {
    border-radius: 0;
  }
}

.notmaximized {
  height: 50%;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
  opacity: 1;
  z-index: 99999999;
}

.progtitle {
  position: relative;
  left: 0;
  top: 5px;
  margin: 5px;
  font-size: 16px;
  height: 16px;
  color:#fff;
}

.progicon {
  position: relative;
  float: left;
  left: 0;
  height: 24px;
  margin: 4px 4px 4px 6px;
  pointer-events: none;
}

#taskbar {
  background-color: var(--themecolor);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  overflow: visible;
  z-index: 99999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  #start {
    background-color: #4a0;
    position: absolute;
    height: 100%;
    width: auto;
    border: none;
    display: flex;
    top: 0;
    left: 0;
    z-index: 999;
    font-size: 1.5em;
    padding: 2px 5px;
    justify-content: left;

    img {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 100%;
      filter: drop-shadow(0 0 1px #000);
    }

    &:hover,
    &:focus {
      filter: brightness(1.4);
    }

    p {
      position: absolute;
      display: inline;
      bottom: -2px;
      margin: 0;
      padding: 0;
      right: 35px;
      z-index: 999;
      color: #fff;
    }

    #starticonm {
      display: inline;
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  #taskbarright {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 180px;
    background-color: var(--themecolor2);
    border-left: 2px solid #420;
    max-width: 28%;

    img {
      height: 30px;
      margin: 3px;
      width: auto;
    }

    #taskbartime {
      position: relative;
      float: right;
      top: 6px;
      margin: 0;
      margin-left: 7px;
      width: 60px;
      height: 18px;
      font-size: 18px;
      color: #fff;
    }

    .taskbarlanguage {
      position: relative;
      top: 7px;
      margin: 0;
      padding: 1px 3px;
      margin-left: 7px;
      width: 60px;
      height: 18px;
      font-size: 18px;
      color: #fff;
    }
  }
}


#startmenu {
  display: none;
  z-index: 99999;
}

#icons {
  padding: 15px;
  position: absolute;
  display: flex;
  overflow: visible;
  top: 0;
  left: 0;
  width: auto;
  height: calc(100% - 65px);
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  button {
    transition: .2s;
    position: relative;
    margin: 3px;
    overflow: hidden;
    width: 70px;
    height: 100px;
    display: flex;
    justify-content: start;
    background-color: transparent;
    flex-flow:column;
    border: 0;
    padding: 0;
    p {
      color:#fff;
      margin-bottom:0;
      margin-top:3px;
    }

    &:hover,
    &:focus {
      background-color: var(--hovercolor);
      overflow: visible;
    }
  }

  img {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding:4px;
    box-sizing: border-box;
    display: block;
    height: auto;
    width: inherit;
    object-fit: contain;
    min-height:70%;
  }

  p {
    left: 0;
    top: 70px;
    text-align: center;
    font-size: 0.85em;
    word-wrap: break-word;
    position: absolute;
    display: block;
    width: 100%;
  }
}


.aboutthisversion {
  position: absolute;
  bottom: 40px;
  right: 20px;
  text-align: right;
  font-size: 1.05em;
  line-height:1.4;
  a {
    color:#ffffaacc;
  }
}

.explorer_start {
  overflow: visible !important;
  z-index: 99999999 !important;

  * {
    border: none;
    border-radius: 0;
    overflow: hidden !important;
    z-index: 999999999 !important;
  }

  .headbar {
    display: none;
  }

  iframe {
    top: auto;
    position: absolute;
    bottom: -35px;
    height: calc(100% + 35px);
    background-color: transparent;
  }
}

@media (max-width:350px) {
  #icons {
    padding: 5px;
    position: absolute;
    display: flex;
    overflow: visible;
    top: 0;
    left: 0;
    width: 90%;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    button {
      position: relative;
      margin: 2px;
      overflow: hidden;
      width: 30px;
      height: 30px;
      display: inline-block;
    }

    img {
      height: 30px;
      width: 30px;
    }

    p {
      display: none;
    }
  }

  .program {
    position: absolute;
    display: none;
    min-width: 100px;
    min-height: 40px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    iframe {
      transform: scale(.5, .5) translate(-50%, -50%);
      height: calc(200% - 30px);
      width: calc(200%);
      top: 15px;
    }
  }

  .explorer_start iframe {
    height: calc(200% + 36px);
    background-color: transparent;
  }

  #taskbar {
    transform: scale(.5, .5) translate(-50%, 50%);
    width: calc(200%);
  }

  .headbar {
    position: relative;
    top: 0;
    background-color: var(--themecolor);
    height: 15px;
    width: 100%;
    padding-right: 1px;
    border: none;

    .max,
    .close {
      height: 12px;
      width: 12px;
      padding: 0;
      top: 0;
      position: absolute;
      font-size: 0;
    }

    .close {
      right: 0;
    }

    .max {
      right: 12px;
    }
  }

  .progtitle {
    top: -6px;
    margin: 0;
    font-size: 8px;
    height: 8px;
  }

  .progicon {
    height: 13px;
    margin: 1px;
  }

  .maximized {
    height: calc(100% - 17.5px);
    width: 100%;
  }

  .aboutthisversion {
    font-size:.7em;
    margin:0;
  }

  #background img {
    width:25px;
    height:25px;
    bottom:25px;
    left:10px;
  }
}

@media (prefers-color-scheme:dark) {
  .program {
    iframe {
      background-color: var(--black);
    }
  }
}