@import "helper.css";


body {
  margin: 0;
  background-color: #058;
  overflow: hidden !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: var(--font);
}

iframe {
  border: 1px solid #222;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.speak {
  display: inline;
  border: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.autostart {
  display: none !important;
}

.noborder {
  border-radius: 0 !important;

  iframe {
    top: 0 !important;
    border: 0px !important;
    background-color: transparent !important;
  }

  .headbar,
  .resizers {
    display: none;
  }
}


#background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  img {
    position: absolute;
    bottom: 50px;
    left: 20px;
    z-index: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px #fff) drop-shadow(-2px 2px 2px #fff) drop-shadow(2px -2px 2px #fff) drop-shadow(-2px -2px 2px #fff);
  }

  #eggpng {
    display: none;
    position: fixed;
    top: auto;
    bottom: 35px;
    right: 40%;
    left: auto;
    height: 40px;
    width: auto;
    object-fit: contain;
    z-index: 0;
    filter: drop-shadow(0 0);
  }
}


.program {
  position: absolute;
  display: none;
  min-width: 100px;
  min-height: 50px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 90vh;
  max-width: 95vw;

  * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  iframe {
    position: absolute;
    border: 0;
    top: 30px;
    left: 0;
    height: calc(100% - 30px);
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid var(--themecolor);
  }
}


.explorer_start,
.explorer_start iframe {
  background-color: transparent !important;
}

.program .headbar {
  position: relative;
  top: 0px;
  background-color: #222;
  background-color: var(--themecolor);
  height: 30px;
  width: 100%;
  padding-right: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  overflow: hidden;
}

.headbar {
  * {
    display: inline;
    transition: .5s;
  }

  .max,
  .close {
    height: 24px;
    width: 40px;
    top: -2px;
    border: 0;
    margin: 0;
    position: absolute;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .close {
    right: -2px;
    background-color: #f00;
  }

  .max {
    background-color: #18f;
    right: 28px;
    border-bottom-left-radius: 8px;
  }

}

.box2 {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 400px;
  left: 400px;
}

.resizers * {
  height: 10px;
  width: 10px;
  position: absolute;
}

.resizers *:active {
  outline: 3px solid #222;
  outline: 3px solid var(--themecolor);
  z-index: 9999;
  transition: 0s;
  cursor: se-resize;
}

.resizer2 {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
  z-index: 20;
}

.maximized {
  height: calc(100% - 35px);
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;

  .resizers {
    display: none;
  }

  .headbar {
    border-radius: 0;
  }
}


.notmaximized {
  height: 50%;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
  opacity: 1;
  z-index: 99999999;
}

.progtitle {
  position: relative;
  left: 0;
  top: 5px;
  margin: 5px;
  font-size: 16px;
  height: 16px;
  color:#fff;

}

.progicon {
  position: relative;
  float: left;
  left: 0;
  height: 24px;
  margin: 4px 4px 4px 6px;
}

#taskbar {
  background-color: #222;
  background-color: var(--themecolor);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 35px;
  overflow: visible;
  z-index: 99999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  #start {
    background-color: green;
    position: absolute;
    height: 100%;
    width: 150px;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    top: 0px;
    left: 0px;
    z-index: 999;
    font-size: 2em;
    padding-right: 25px;
    padding-left: 10px;
    justify-content: right;
    align-items: center;

    p {
      position: absolute;
      display: inline;
      bottom: -2px;
      margin: 0;
      padding: 0;
      right: 35px;
      z-index: 999;
      color: #fff;

    }

    #starticonm {
      display: inline;
      opacity: 0;
      width: 0px;
      height: 0px;
    }
  }

  #taskbarright {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 180px;
    background-color: #1256cd;
    border-left: 2px solid #2845ba;
    max-width: 28%;

    img {
      height: 30px;
      margin: 3px;
      width: auto;
    }

    #taskbartime {
      position: relative;
      float: right;
      top: 6px;
      margin: 0;
      margin-left: 7px;
      width: 60px;
      height: 18px;
      font-size: 18px;
      color: #fff;
    }

    .taskbarlanguage {
      position: relative;
      top: 7px;
      margin: 0;
      padding: 1px 3px;
      margin-left: 7px;
      width: 60px;
      height: 18px;
      font-size: 18px;
      color: #fff;
    }
  }
}


#startmenu {
  display: none;
  z-index: 99999;
}

#icons {
  padding: 15px;
  position: absolute;
  display: flex;
  overflow: visible;
  top: 0;
  left: 0;
  width: auto;
  height: calc(100% - 65px);
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  button {
    transition: .2s;
    position: relative;
    margin: 3px;
    overflow: hidden;
    width: 70px;
    height: 100px;
    display: inline-block;
    justify-content: center;
    background-color: transparent;
    flex-flow:column;
    border: 0;
    padding: 0;
    p {
      color:#fff;
      margin-bottom:0;
      margin-top:3px;
    }


    &:hover {
      background-color: var(--hovercolor);
      overflow: visible;
    }
  }

  img {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding:4px;
    box-sizing: border-box;
    display: block;
    height: auto;
    width: inherit;
    object-fit: contain;
    min-height:70%;
  }

  p {
    left: 0;
    top: 70px;
    text-align: center;
    font-size: 0.85em;
    word-wrap: break-word;
    position: absolute;
    display: block;
    width: 100%;
  }
}


.aboutthisversion {
  position: absolute;
  bottom: 20px;
  right: 5px;
  font-size: 1.2em;
  a {
    color:#fff;
  }
}

.explorer_start {
  overflow: visible !important;
  z-index: 99999999 !important;

  * {
    border: none;
    border-radius: 0;
    overflow: hidden !important;
    z-index: 999999999 !important;
  }

  .headbar {
    display: none;
  }

  iframe {
    top: auto;
    position: absolute;
    bottom: -35px;
    height: calc(100% + 35px);
    background-color: transparent;
  }
}


.preloadframe {
  position: fixed;
  top: -20%;
  left: -20%;
  height: 1%;
  width: 1%;
  border: none;
}

.support_mainos {
  bottom: 35px;
  right: 40vw;
  display: inline;
  position: absolute;
  background: var(--themecolor);
  transition: .2s;

  &:hover {
    transform: scale(1.5) translateY(-12.5%)
  }

  * {
    text-decoration: none;
    font-family: var(--font);
    padding: 0;
    margin: 0;
    color:#fff;
  }
}

@media (max-height:500px), (max-width:350px) {
  #icons {
    button {
      margin: 2px;
      width: 50px;
      height: 75px;
    }
  
    img {
      padding:2px;
    }
  
    p {
      left: 0;
      top: 47px;
      text-align: center;
      font-size: 0.8em;
      word-wrap: break-word;
      position: absolute;
      display: block;
      width: 100%;
    }
  }

  #taskbar {
    height:25px;
  }
  .maximized {
    height: calc(100% - 25px);
  }

 .program {
  min-width: 100px;
  min-height: 40px;
  iframe {
    transform: scale(.75, .75) translate(-25%, -25%);
    height: calc(150% - 35px);
    width: calc(150%);
    top: 50px;
  }

  .headbar {
    height: 20px;
  
    .max,
    .close {
      height: 15px;
      width: 15px;
    }
  
    .close {
      right: 2px;
    }
  
    .max {
      right: 15px;
    }
  

 }
 
}




}

@media screen and (max-width:350px) {



  .explorer_start iframe {
    height: calc(200% + 36px);
    background-color: transparent;
  }


  .progtitle {
    top: -6px;
    margin: 0;
    font-size: 8px;
    height: 8px;
  }

  .progicon {
    height: 13px;
    margin: 1px;
  }

}

@media (prefers-color-scheme:dark) {
  .program {
    iframe {
      background-color: var(--black);
    }  
  }
}