body {
  overflow: hidden;
}

* {
  transition: 0s;
  margin: 0;
}

#thediv {
  overflow: hidden;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
}

#headbar {
  height: auto;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  overflow: visible;
}

#headbar p {
  position: relative;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
  margin: 0;
}

#headbar p:hover {
  background-color: var(--hovercolor);
}

#areadiv {
  display: inline;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 6;
  padding: 0;
  margin: 0;
}

textarea {
  padding-left: 5px;
  margin: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  overflow-x:hidden;
  position: relative;
  color: #000;
  display: inline-block;
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing:border-box;
  border: none;
}

@media (prefers-color-scheme: dark) {
  body textarea {
    background-color:var(--black);
    color:#fff;
    border:none;
  }
}