* {
    transition: 2s ease-out;
}

#imgs {
    display: flex;
    flex-wrap: wrap;
}

#imgs div {
    display: inline;
    position: relative;
    width: calc(33.33% - 4px);
    margin: 2px;
    padding: 0;
    height: 33vw;
    max-height: 80vh;
    float: left;
    border: none;
    object-fit: cover;
    filter: grayscale(.2)
}

#imgs div:hover {
    filter: saturate(3)
}