* {
    transition: .5s ease-out;
}

#imgs {
    display: flex;
    flex-wrap: wrap;
}

#imgs div {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: calc(10% - 2px);
    margin: 1px;
    padding: 0;
    height: auto;
    max-height: 80vh;
    float: left;
    /* border: none; */
    object-fit: cover;
    padding-bottom: 10%;
}

#imgs div:hover::before {
    content: "📋";
    position: absolute;
    right: 0;
}

#imgs div:active {
    outline: 1px solid lime;
}

#imgs div:active::before {
    content: "✔";
}