:root {
    font: sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    font-family: var(--font);
    font-size: .99em;
}

body.big_buttons {
    #headbar2 {
        height: 2.4rem;
    }

    #content_files {
        a {
            width: 72px;
        }
    }
}

#spaceinfo {
    background: var(--black2);
    height: auto;
    max-height: 40vh;
    overflow: hidden;
    width: 100%;
    position: relative;
    //display done in js
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid var(--themecolor);

    meter {
        width: 290px;
        max-width: 100%;
    }
}

#headbar2 {
    display: flex;
    position: relative;
    top: 0;
    justify-content: space-between;
    background-color: #ddb;
    height: 1.8em;
    width: 100%;
    border-bottom: 1px solid #999;
    overflow: visible;
    font-size: 1em;

    a, input, button {
        &:hover,
        &:focus {
            background-color: var(--hovercolor);
        }
    }

    form { // Yet only supposed for path input
        display: flex;
        height: 100%;
        position: relative;

        input, button {
            box-sizing: border-box;
        }

        input[type=text] {
            width:100%;
            height: 100%;
            border-right: 0;
            padding: 0 10px;
        }

        button {
            width: auto;
            height: 100%;
            border-left: 0;
            padding: 0;

            img {
                width: auto;
                height: 100%;
            }
        }
    }

    img, a {
        display: inline-block;
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        padding: 2px;
    }
}

#content_files {
    padding: 15px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    display:block;
    justify-content: start;
    align-content: start;

    a {
        background-color: transparent;
        border: 0;
        margin: 4px;
        overflow: hidden;
        width: 64px;
        height: 100px;
        z-index: 10;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        align-content: start;
        user-select: none;
        word-break: break-word;
        display: inline-block;
        font-size: .85em;
        text-decoration: none;

        &:hover,
        &:focus {
            overflow: visible;
            z-index: 20;
            border-radius: 1px;
            background-color: var(--hovercolor);
        }

        img {
            position: relative;
            display: block;
            top: 0;
            margin-top: 2px;
            height: 64px;
            max-height: 150px;
            pointer-events: none;
            width: 100%;
            overflow: hidden;
            object-fit: contain;
            pointer-events: none;
            margin: 0;
        }
    }
}

meter {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 8px;
    border:0;

    &::-webkit-meter-optimum-value {
        background: var(--themecolor);
    }

    &::-moz-meter-bar {
        background: var(--themecolor);
    }
}

@media (prefers-color-scheme:light) {
    #spaceinfo {
        background: var(--beige3);
    }
}


@media (prefers-color-scheme:dark) {
    #headbar2 {
        background: var(--black2);
        border: none;

        p {
            color: #fff;
        }
    }

    meter {
        filter:invert(1);

        &::-webkit-meter-optimum-value {
            filter:invert(1);
        }

        &::-moz-meter-bar {
            filter:invert(1);
        }
    }
}
