header {
	position: sticky;
	top: 0;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	background: var(--altbarcolor);
	padding: .5rem;

	.category-go-back {
		text-decoration: none;
		text-align: center;
		display: inline-block;
		width: 2rem;
	}
}

body {
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	#content {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		flex: 1;
		height: 60%;
		width: 100%;
	}

	#sidebar {
		width: auto;
		min-width: 12rem;
		left: 0;
		font-size: 1em;
		overflow: auto;
		background: var(--bg-2);

		&:target {
			width: 100%;
			flex-shrink: 0;
		}

		a {
			display: block;
			width: 100%;
			height: auto;
			text-decoration: none;
			padding: .5rem;
			box-sizing: border-box;
			line-height: 1.5rem;

			&.active {
				background: var(--themecolor) !important;
			}

			&[disabled] {
				display: none;
			}
		}
	}

	#categorycontainer,
	#sidebar {
		display: inline-block;
		top: 0;
		position: relative;
	}

	#categorycontainer {
		padding: 0;
		width: 100%;
	}

	.category {
		display: none;

		&:target {
			display: block;
			position: relative;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			box-sizing: border-box;
		}

		.settings {
			padding: .5rem;

			.subcategory {
				&:first-child {
					>summary {
						margin-top: 0;
					}
				}

				>summary {
					font-size: 1.25rem;
					font-weight: bold;
					padding: .5rem;
					text-align: center;
					list-style: none;
					margin-top: 2rem;

					::-webkit-details-marker {
						display:none;
					}
				}
			}
		}
	}
}

h1 {
	font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.settingtab {
	display: none;
	position: relative;
	top: 0;
	left: 0;
	height: 90%;
	width: 100%;
	margin: 0;
}

.setting {
	padding: 10px 0;
	display: flex;
	width: calc(100% - 2rem);
	justify-content: space-evenly;
	gap: 2rem;
	pointer-events: none;

	.settingname {
		flex: 1;
		text-align: right;
		line-height: 2;
	}

	.settinginput {
		flex: 1;
		text-align: left;
		pointer-events: all;
		width: 100%;
		line-height: 2;

		input[type="checkbox"],
		button {
			width: auto;
		}
	}

	&:has(h1, h2, h3, h4, h5, h6) {
		border-bottom: 0;
		margin-top: 1.5rem;
		margin-bottom: 0;

		.settingname {
			display: none;
		}
	}
}

@media screen and (max-width: 420px) {
	body #sidebar {
		min-width: 0;
		width: 100%;
		height: 100%;
		flex-shrink: 0;
		&:not(:target) {
			display: none;
		}
		a {
			line-height: 2;
		}
	}
}
