:root {
    --background-color: #fff;
    --color-type-2: #fff;
    --background-color-type-2: #bcf;
    --font: var(--font), sans-serif;
}

body {
    overflow: hidden;
    background-color: transparent !important;
    user-select: none;
}

#startbutton {
    background: transparent;
    position: absolute;
    height: 0;
    width: 0;
    border: none;
    display: inline;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#onout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#start {
    position: absolute;
    bottom: 35px;
    left: 0;
    display: flex;
    height: 500px;
    width: 350px;
    border: 2px solid var(--themecolor);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    overflow: hidden;
    background: transparent;
}

#start #top {
    background: var(--themecolor);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 70px;
}

#start #top #usericon {
    position: absolute;
    display: inline;
    top: 5px;
    left: 5px;
    height: 54px;
    width: 54px;
    border: 3px solid #fff;
    border-radius: 3px;
}

#username {
    position: absolute;
    color: var(--color-type-2);
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 1px;
    left: 75px;
    top: -10px;
}

#start #top hr {
    position: absolute;
    border: 0;
    border-bottom: 2px solid #fff;
    left: 64px;
    top: 25px;
    height: 20px;
    width: 200px;
}


#start #top #usericon img {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#start #center {
    display: flex;
    position: absolute;
    top: 70px;
    width: 100%;
    height: calc(100% - 70px);
}

#start #center #left {
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 40px);
    width: 55%;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 40px;
}

#start #center #left div {
    position: relative;
    display: flex;
    height: 35px;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

#start #center #left div img {
    margin: 2px;
    height: 31px;
    width: 31px;
    display: inline;
}

#start #center #left div p {
    position: relative;
    display: inline;
    font-size: .9em;
    left: 3px;
    white-space: nowrap;
    width: calc(100% - 41px);
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 1px;
    color: #000;
}

#start #center #left div:hover, #start #center #right div:hover {
    background: var(--hovercolor);
    cursor:pointer;
}



#alleprogramme a:not(.nohoverbg):hover {
    background: var(--hovercolornontransparent);
    cursor:pointer;
}

#alleprogramme a.bottominfo {
    padding-left:12px;
}

#start #center #left #allprograms {
    border-top: 1px solid #f70;
    position: absolute;
    bottom: 0;
}

#start #center #right {
    position: relative;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: flex-start;
    background: var(--background-color-type-2);
    color: var(--color);
}

#start #center #right div {
    position: relative;
    display: flex;
    height: 30px;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

#start #center #right div img {
    margin: 5px;
    height: 24px;
    width: 24px;
    display: inline;
}

#start #center #right div p {
    position: relative;
    display: inline;
    font-size: .8em;
    left: 1px;
    white-space: nowrap;
    width: calc(100% - 41px);
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 1px;
}


#start #bottom {
    display: flex;
    justify-content: flex-end;
    background: var(--themecolor);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0;
    padding-top: 2px;
}

.bottomright {
    position: absolute;
    bottom: 2px;
    right: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width:auto;
    max-width: 45%;
    height: 23px;
    padding:2px 0 2px 2px;
    background: var(--themecolor);
    display:inline-flex;
    box-sizing: border-box;
    justify-content:flex-end;
}

.bottomright button {
    margin: 0;
    padding:0 1px 0 0;
    cursor: pointer;
    font-size: 13.5px;
    line-height: 1.3;
    color: #fff;
    border:0;
    text-align: left;
    width:auto;
    background:transparent;
    font-weight: lighter;
}

.bottomright button * {
    position: relative;
    display: inline-block;
    margin: 0;
}

.bottomright img {
    height: 90%;
    border: 1px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    float:left;
    margin-right:2px;
}

#alleprogrammeout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#alleprogramme {
    opacity: 0;
    position: absolute;
    bottom: 7px;
    left: 180px;
    max-height: 97vh;
    max-width: 80vw;
    width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

#alleprogramme a {
    box-sizing: border-box;
    position: relative;
    display: flex;
    height: 32px;
    width: 230px;
    overflow: hidden;
    align-items: center;
    border-right: 1px solid #000;
    max-width: 28vw;
    background: var(--background-color);
    font-size: .8em;
    left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding:3px;
}

#alleprogramme a img {
    margin: 0 8px 0 2px;
    height: 24px;
    width: 24px;
    display: inline;
    object-fit: contain;
}


#viewonitch {
    color:#fff;
    background:#ff555555;
    text-decoration:none;
    line-height: 1.8;
    font-size: .8em;
}
#viewonitch:hover {
    background:#f55
}
#viewongithub {
    color:#000;
    background:#ffffff55;
    text-decoration:none;
    line-height: 1.8;
    font-size: .8em;
}
#viewongithub:hover {
    background:#fff;
}

@media screen and (max-width:500px) {
    #start {
        width: calc(100% - 4px);
        height: calc(100% - 39px);
        border-radius: 0;
    }

    #alleprogramme {
        left: 0;
        bottom: 80px;
        height:calc(100% - 90px);
    }

    #alleprogramme div {
        width: 50vw;
        max-width: none;
        height: 30px;
        border: .5px solid #000;
    }
}

@media screen and (max-height:550px) {
    #start {
        height: calc(100% - 38px);
    }
}

@media (prefers-color-scheme:dark) {

    :root {
        --background-color: var(--black);
    }

    #start #center #left {
        background: var(--black);
    }



    #start #center #left div p {
        color: #fff;
    }


    #start #center #right {
        background: var(--black2);
        color: #fff;
    }

    #start #center #right div {
        position: relative;
        display: flex;
        height: 30px;
        width: 100%;
        overflow: hidden;
        align-items: center;
    }


    #alleprogramme div {
        background: #000;
        color: #fff;
    }
}