table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
    line-height: 1.75;
    text-overflow:ellipsis;
    overflow: hidden;
    tr {
        &:nth-of-type(even) {
            background: #77777722;
        }

        &:hover {
            background: var(--hovercolor);
        }
    }

    .icon {
        width: 1em;
        vertical-align: middle;
        padding-right: .1em;
        img {
            height: 1.25em;
            padding: 0;
            margin: 0;
            position: relative;
            width: auto;
            vertical-align: text-bottom;

        }
    }
}