body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scrollbar-width: thin;
  height: 100%;
  background: var(--themecolor);
  border-left: 1px solid #000;
  width: 100%;
}

* {
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notifications {
  height: 100%;
}


.a_notificaton {
  background: #000;
  position: relative;
  height: auto;
  width: auto;
  display: block;
  padding: .5em;
  margin: .5em;
  border: 1px solid var(--themecolor2);
  border-radius: var(--border-radius);
  .notification_icon {
    position: absolute;
    top: .5em;
    left: .5em;
    height: 1.5em
  }

  h3 {
    text-align: center;
    padding-bottom: .5em;
    margin-bottom: .25em;
    font-size: 1.25em;
    border-bottom: 1px solid var(--themecolor2);
    line-height: 1;
  }
  
  p {
    display: block;
    box-sizing: border-box;
    height: auto;
  }

  hr {
    border: 0;
    border-bottom: 1px solid var(--themecolor2);
  }

  .meta {
    border-top: 1px solid var(--themecolor2);
    text-align: right;
    line-height: 1;
    padding-top: .25em;
    margin-top: .25em;
  }
}

.rm_not {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff000066;
  border: 0;
  height: 24px;
  width: 24px;
  border-radius: 0;
  transition:.1s;
}

/* .rm_not:hover {
  background-color:#f00;
} */



