:root {
  font: sans-serif;
}

body {
  background-color: transparent;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: var(--font);
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #ffffff88;
}

::-webkit-scrollbar-thumb {
  background-color: #77777788;
}

.a_notificaton {
  background-color: #ffff7733;
  backdrop-filter: blur(4px);
  border: 1px solid #000;
  position: relative;
  height: auto;
  width: 100%;
  display: block;
}

.rm_not {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff000066;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 0;
  transition:.1s;
}

.rm_not:hover {
  background-color:#f00;
}

h3 {
  text-align: center;
  margin-bottom: 5px;
}

p {
  display: block;
  box-sizing: border-box;
  height: auto;
  width: 94%;
  padding: 1%;
  margin: 0 3%;
}