body {
    padding:0;
    margin:0;
    overflow:hidden;
    text-align:center;
    font-size:14em;
    font-family:var(--font), Tahoma, sans-serif;
    color:var(--themecolor);
    background-color:#77777766;
}

body.hide .player,
body.hide .berry {
    opacity: 0 !important;
}

body.isAutomatic {
    font-size: 8em;
}

body.isAutomatic .player,
body.isAutomatic .berry,
body.isAutomatic .counter {
    display: inline-block;
}

* {
    transition:0s;
}

div {
    filter:drop-shadow(0 0 1px #fff);
}

#field {
    min-height:120px;
    min-width:160px;
    position:absolute;
    display:inline;
    top:5px;
    left:5px;
    height:calc(100vh - 10px);
    width:calc(100vw - 10px);
    border:1px solid #fff;
    overflow:hidden;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    background: #000;
}

#player0, #berry0, #counter0 {
    display: inline;
    --playercolor: var(--themecolor) !important;
}

#counterDiv {
    display:block;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    margin:0;
}

.counter {
    height: auto;
    width: auto;
    position: relative;
    top: 0;
    margin: 0 auto;
    padding: 0 0.15em;
    color: var(--playercolor);
    display:none;
}

.player {
    top:0;
    left:0;
    background-color: var(--playercolor);
    border:4px solid transparent;
}

.berry {
    top:40px;
    left:40px;
    background-color:transparent;
    border:4px solid var(--playercolor);
}

.player, .berry {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: none;
}
