body {
    background:#000;
    padding:0;
    margin:0;
    overflow:hidden;
    text-align:center;
    font-size:14em;
    font-family:var(--font), Tahoma, sans-serif;
    color:var(--themecolor);
}

body.hide .player,
body.hide .berry {
    opacity: 0 !important;
}

* {
    transition:0s;
}

div {
    filter:drop-shadow(0 0 1.5px #fff);
}

#field {
    min-height:200px;
    min-width:200px;
    position:absolute;
    display:inline;
    top:10vh;
    left:10vw;
    height:80vh;
    width:80vw;
    border:4px solid #fff;
    overflow:hidden;
}

#player1 {
    background-color: var(--themecolor);
    display:inline;
}

#berry1 {
    border-color: var(--themecolor);
    display:inline;
}

#player2 {
    background-color: #fff;
}

#berry2 {
    border-color: #fff;
}

#player3 {
    background-color: lime;
}

#berry3 {
    border-color: lime;
}

#player4 {
    background-color: #ff0;
}

#berry4 {
    border-color: #ff0;
}

#score {
    display:block;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    margin:0;
}

.player {
    position:absolute;
    top:0px;
    left:0px;
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:transparent;
    border:4px solid transparent;
    display:none;
}

.berry {
    position:absolute;
    top:40px;
    left:40px;
    height:40px;
    width:40px;
    background-color:transparent;
    border-radius:50%;
    border:4px solid transparent;
    display:none;
}