body {
  height: 100vh;
}

* {
  transition: 0s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline:0px solid transparent;
  border:0px solid transparent;

}

#imagep {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  height: calc(100% - var(--altbarheight));
  width: 100%;
  justify-content: center;
  align-items: center;
  background:var(--beige2);
}

#image {
  overflow: hidden;
  height: calc(90vmin - var(--altbarheight));
  width: calc(90vmin - var(--altbarheight));
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
  border:1px solid #000;

}

#image button {
  margin: 0;
  width: 6.25%;
  padding:0;
  padding-top: 6.25%;
  border:0;
  background:#fff;
}

#colorselect {
  background-color: var(--hovercolor);
  z-index: 943;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 10px;
  top: calc(var(--altbarheight) + 10px);
  height: auto;
  width: auto;
  max-height:calc(85vh - var(--altbarheight));
  padding-bottom: 3px;
  border: 2px solid #000;
}

#colorselect button {
  height: 20px;
  width: 20px;
  margin:0;
  padding:0;
  border:0;
}

#colorselect #currentcolor {
  transition: .5s;
  display: block;
  border: 2px solid #000;
  margin: 3px;
  background-color: #000;
  height: 40px;
  width: 40px;
}

#blue {
  background-color: #00f;
}

#blue2 {
  background-color: #07f;
}

#yellow {
  background-color: #ff0;
}

#green {
  background-color: #0f0;
}

#green2 {
	background-color:#7a1;
}

#red {
  background-color: #f00;
}

#orange {
  background-color: #f70;
}

#pink {
	background-color:#f0f;
}

#white {
  background-color: #fff;
}

#black {
  background-color: #000;
}

#gray1 {
  background-color: #555;
}

#gray2 {
  background-color: #bbb;
}

#brown {
  background-color: #7c3e15;
}

@media (prefers-color-scheme:dark) {
  #imagep {
    background:var(--black);
  }

  #colorselect {
    border-color: var(--themecolor);
    background:var(--black3);
  }
  #imagep #image {
    border:2px solid var(--themecolor);
  }
  
}