html {
    padding: 0;
    margin: 0;
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
        .toolbar {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            height: 2.75rem;
            padding: .2rem;
            #adressstuff {
                flex-grow: 7;
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: stretch;

                img {
                    height: 70%;
                    top: 15%;
                    z-index: 10;
                    position: absolute;
                    aspect-ratio: 1/1;
                    @supports not (aspect-ratio: 1/1) {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    left: 10px;
                }

                input {
                    border: 1px solid #000;
                    border-radius: 5px;
                    padding: 5px 5px 5px 40px;
                    margin: 0 .2rem;
                    flex-grow: 9;
                    width: 100%;
                    // padding left 1 height
                    
                }
                button {
                    aspect-ratio: 1/1;
                    @supports not (aspect-ratio: 1/1) {
                        width: 2rem;
                    }
                }
            }
            button {
                border: 1px solid #000;
                border-radius: 5px;
                padding: 1px;
                margin: 0 .2rem;
                flex-grow: 1;
                line-height: 0;
            }
            #websitecontrols1 {
                font-size: 0;
                height: 100%;

                #websitecontrols {
                    display: inline
                }

                button {
                    aspect-ratio: 1/1;
                    @supports not (aspect-ratio: 1/1) {
                        width: 2rem;
                    }

                    padding: 0;
                    font-size: 1rem;
                    height: 100%;
                }
                &[disabled] {
                    button {
                        opacity: 0.5;
                    }
                }
            }
        }


        iframe {
            height: 100%;
            width: 100%;
            border: none;
            &#website {
                height: 100%;
                width: 100%;
            }
        }
    }
}

* {
    box-sizing: border-box;
}
