:root {
  --color:#fff;
  --background-color:#000;
  --font:sans-serif;
}

$cmdblack:var(--background-color);
$cmdwhite:var(--color);

body, input {
  background-color:$cmdblack;
  padding: 0 10px;
  box-sizing: border-box;
  width:100%;
  min-height:100vh;
}

head {
  &,* {
    display:none;
  }
}

* {
  margin:0;
  padding:0;
  line-height:1.2;
  display:block;
  height:auto;
  font-family:var(--font);
  font-size:16px;
  color:$cmdwhite
}

p, a, b, input, .cmdinputcontainer {
  font-size:18px
}

b {
  display:inline-block;
  font-weight:inherit
}

.helpb {
  display:block;
  b {
    color:#ff0;
    b {
      color:#66f;
    }
    a {
      display:inline-block;
      color:#6f6;
     }
  }
  br {
    display:block;
    line-height:0;
  }
}

.cmdinputcontainer {
	&::before {
		content:'> ';
		position:absolute;
		left:0;
		padding:1px 10px;
		color:#ff0;
		display: inline !important;
		z-index:999;
	}
	input {
		border:0;
		outline:0;
		position:relative;
		display:block;
		top:0;
		left:0;
		width:100%;
		height:auto;
		min-height:20px;
		padding:0 0 0 18px;
		border-left:5px solid $cmdwhite;
		margin-left:-5px;

		&:focus {
			border-left-color: transparent;
		}
	}
}
