:root {
  --color:#fff;
  --background-color:#000;
  --font:sans-serif;
}

$cmdblack:var(--background-color);
$cmdwhite:var(--color);

body, input {
  background-color:$cmdblack;
  padding: 0 10px;
  box-sizing: border-box;
  width:100%;
  min-height:100vh;
}

* {
  margin:0;
  padding:0;
  line-height:1.2;
  display:block;
  height:auto;
  font-family:var(--font);
  font-size:16px;
  color:$cmdwhite
}

p, a, b, input {
  font-size:18px
}

b {
  display:inline-block;
  font-weight:inherit
}

.helpb {
  display:block
}

.helpb b {
  color:#ff0;
}

.helpb b b {
  color:#66f;
}

.helpb b a {
 display:inline-block;
 color:#6f6;
}

.helpb br {
  display:block;
  line-height:0;
}

input {
  border:0;
  outline:0;
  position:relative;
  display:block;
  top:0;
  left:0;
  width:100%;
  height:auto;
  min-height:20px;
  padding:0;
  border-left:5px solid $cmdwhite;
  margin-left:-5px;
}

input:focus {
  border-left-color: transparent;
}
